.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
replications/**/*.dta
replications/**/*.rds
replications/**/*.zip
replications/**/*.csv
replications/**/*.xlsx
replications/**/*.png
data/*.rds
data/*.dta
data-raw/*
!data-raw/scripts/
tests/**/*.dta
tests/**/*.rds
tests/**/*.zip
tests/**/*.csv
tests/**/*.xlsx
tests/**/*.png
